{% extends 'base.html' %}

{% block content %}

<div class="container" id="main">

    {% if user.is_authenticated %}
    <div class="row justify-content-center bg-danger" id="login-row">
        <h2>{{user}}'s scores</h2>
    </div>

    <!--Form for adding a new entry -->
    <form method="post" action="{% url 'alter' %}">
    {% csrf_token %}
        <div class=" row full-border ">
            <div class="col-3">
                <div class="container">
                    <div class="row bg-success text-center">
                        <div class="col text-center py-2">
                            Name:
                        </div>
    
                    </div>
    
                    <div class="row bg-success text-center py-2">
                        <div class="col text-center">
                            Score:
                        </div>
    
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class=" bg-primary d-flex flex-column align-items-center ">
                    {% for field in form %}
                    <div class="py-1">{{field}}</div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="col">
                <div class=" bg-warning py-2 d-flex justify-content-center align-items-center h-100">
                    <button name="save">save</button>
                </div>
                
            </div>
    
        </div>

        <!--HEADERS FOR THE ROWS-->
        <div class=" row text-center">
            <div class="col-6 half-border"><b>Name</b></div>
            <div class="col-2 half-border"><b>Score</b></div>
            <div class="col-2 half-border"><b>Edit</b></div>
            <div class="col-2 half-border"><b>Delete</b></div>
            
        </div>

        <!--Scores and shit go here -->
        {% for score in scores %}
        <div class="row ">

            <!--NAME-->
            <div class="col-6 bg-success text-center half-border">
                {{score.name}}
            </div>
            <!--SCORE-->
            <div class="col-2 text-center bg-info half-border">
                {{score.score_value}}
            </div>
            <!--EDIT-->
            <div class="col-2 text-center bg-primary half-border">
                <button formnovalidate name="edit" value="{{score.id}}">
                    edit
                </button>
            </div>
            <!--DELETE-->
            <div class="col-2 text-center bg-warning half-border">
                <button formnovalidate name="delete" value="{{score.id}}">
                    delete
                </button>
            </div>

        </div>
    {% endfor %}
    </form>
    {% else %}
    <button>
        login
    </button>
    <button>
        register
    </button>
    {% endif %}
</div>

{% endblock content %}