{% extends 'base.html' %}

{% block content %}

<div class="container" id="main">
    {% if user.is_authenticated %}
    <div class="row justify-content-center bg-danger" id="login-row">
        <h2>{{user}}'s scores</h2>
    </div>
    <!--HEADERS FOR THE ROWS-->
    <row class=" row text-center">
        <div class="col-6 half-border"><b>Name</b></div>
        <div class="col-2 half-border"><b>Score</b></div>
        <div class="col-2 half-border"><b>Edit</b></div>
        <div class="col-2 half-border"><b>Delete</b></div>
        
    </row>
    <!--Scores and shit go here -->
    {% for score in score_list %}
    <div class="row ">

        <!--NAME-->
        <div class="col-6 bg-success text-center half-border">
            {{score.name}}
        </div>
        <!--SCORE-->
        <div class="col-2 text-center bg-info half-border">
            {{score.score_value}}
        </div>
        <!--EDIT-->
        <div class="col-2 text-center bg-primary half-border">
            <button>
                edit
            </button>
        </div>
        <!--DELETE-->
        <div class="col-2 text-center bg-warning half-border">
            <button>
                delete
            </button>
        </div>

    </div>
    {% endfor %}
    {% else %}
    {% endif %}
</div>

{% endblock content %}