body {
    background-color: orange;
    min-height: 100vh;
    position:relative;
    background: rgb(34,106,195);
background: linear-gradient(0deg, rgba(34,106,195,1) 0%, rgba(131,45,253,1) 100%);
}

#footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}


#footer-links {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.content-container {
    display:flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-box {
    height:75vh;
    background-color:white;
    border:10px solid black;
    border-radius:5%;
}

#login-name {
    text-align: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    color:white;
}