body {
    background-color: orange;
    min-height: 100vh;
    position:relative;
    background: rgb(34,106,195);
background: linear-gradient(0deg, rgba(34,106,195,1) 0%, rgba(131,45,253,1) 100%);
}

#footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}


#footer-links {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}