body {
    font-family: "Noto Sans Mono", monospace;
    min-height: 100vh;
    position:relative;
    background: rgb(34,106,195);
    background: linear-gradient(0deg, rgba(34,106,195,1) 0%, rgba(131,45,253,1) 100%);
}

#footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}


#footer-links {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.content-container {
    display:flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


#main {
    background-color: #FAF9F6;
    border-radius:10px;
    min-height: 90vh;
    margin:10px 10px 10px 10px;
    border:2px solid black;

}

#login-row {
    border-bottom: 2px solid black;
    background-color: rgba(34,106,195,1);
    color: #FAF9F6;
    padding-top:5px;
}

.half-border {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding:5px;
}

#score-window {

    padding:2px;
    border-bottom: 2px solid black;
    background-color: #D3D3D3;
}

.bottom-border {
    border-bottom: 2px solid black;
    padding:5px;
}

#save-button {
    height: 50px;
    width: 50px;
}

.font-pixel {
    font-family: "Pixelify Sans", sans-serif;
}

#row-headers {
    text-align: center;
}